Source: sdbd
Section: net
Priority: extra
Maintainer: Hoon Kang <h245.kang@samsung.com>, Changyeon Lee <changyeon.lee@samsung.com>, Jinhyung Choi <jinhyng2.choi@samsung.com>, Joogwan Kim <joogwan.kim@samsung.com>
Build-Depends: debhelper (>= 5), libc6-dev
Standards-Version: 0.0.1

Package: sdbd
Architecture: any 
Description: SDB daemon
