[Unit]
Description=sdbd
After=tmp.mount dbus.service
#DefaultDependencies=false

[Service]
Type=forking
Environment=DISPLAY=:0
PIDFile=/tmp/.sdbd.pid
RemainAfterExit=yes
ExecStartPre=/bin/bash -c "/bin/echo '10.0.2.15/32 system::debugging_network' >> /smack/netlabel"
ExecStart=/usr/sbin/sdbd

[Install]
WantedBy=emulator.target

