[Unit]
Description=sdbd
Requires=tizen-system-env.service
After=tmp.mount

[Service]
Type=forking
EnvironmentFile=-/run/tizen-system-env
PIDFile=/tmp/.sdbd.pid
Restart=on-failure
ExecStart=/usr/sbin/sdbd

[Install]
WantedBy=multi-user.target
