[Unit]
Description=sdbd
Requires=tizen-system-env.service

[Service]
Type=forking
EnvironmentFile=-/run/tizen-system-env
PIDFile=/tmp/.sdbd.pid
RemainAfterExit=yes
ExecStart=/usr/sbin/sdbd
